* {
  font-family: "Proxima Nova";
}
.app {
  max-width: 960px;
  margin: 0 auto;
}
.list-menu {
  margin-left: 3rem;
}
#result_search {
  padding: 0.75rem;
  display: none;
}
.search-form {
  margin-top: 30px;
}
.save-search {
  margin-top: 33px;
}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
